@model TP3_aspnet2.Models.Person
@{
}

<form method="post" action="/Person/Edit">
    @Html.AntiForgeryToken()
        <label>Nome</label>
        <input type="text" name="FirstName" value=@Model.FirstName />
        <label>Sobrenome</label>
        <input type="text" name="LastName" value=@Model.LastName />
        <label>Aniversário</label>
        <input type="date" name="Birthday" value=@Model.Birthday/>

        <input type="submit" value="Enviar" />
</form>
